<h1>{{title}}</h1>
<!-- <h1>How to create service in angular 9 using cli</h1>
<ul>
  <li *ngFor="let hero of heroes">
    <strong>{{ hero.id }})</strong>{{ hero.title }}
  </li>
</ul> -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>

  <a routerLink="/heroes">Heroes</a>
</nav>
<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
<app-messages></app-messages>
